@font-face {
    font-family: font;
    src: url("../fonts/IRANSans\(FaNum\).ttf");
}
@font-face {
    font-family: bold;
    src: url("../fonts/IRANSans\(FaNum\)_Bold.ttf");
}
*{
    font-family: font;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    background-color: transparent;
} 
a{
    color: var(--color-4);
    text-decoration: none;
}
:root{
    --color-1 : #363062;
    --color-2 : #4D4C7D;
    --color-3 : #F99417;
    --color-4 : #F5F5F5;
    --color-5 : #d4d4d4;
    --color-6 : #171717;
    --color-7 : #404040;
    --color-8 : #f993176b;
    --color-9 : #a3a3a3;
    --color-10 : #dd3446;
    --color-11 : #2563eb;
    --color-12 : #bfdbfe;
}
/* Utiities */
.component_size{
    padding: 15px 0px;
    text-align: center;
    width: 85%;
    margin: auto;
}
.heading_title{
    text-align: center;
    font-size: 30px;
}
/* Layout */
.main_sec{
    display: flex;
    justify-content: end;
}
.aside_sec{
    width: 20%;
    height: 100vh;
    background: linear-gradient(135deg, rgba(54,48,98,0.9472163865546218) 0%, rgba(77,76,125,0.7959558823529411) 100%), url("../img/aside-bg.jpg");
    background-position: center;
    background-size: cover;
    transition: all 1.2s;
    position: fixed;
    right: 0;
}
.content_sec{
    width: 80%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.753) 0%, rgba(255, 255, 255, 0.753) 100%) , url("../img/bg.jpg");
    background-position: center;
    background-repeat: repeat-y;
    min-height: 100vh;
    position: sticky;
    left: 0px;
}
/* Aside */
.aside_cont{
    padding: 15px 10px;
}
.aside_profile_cont{
    text-align: center;
    color: var(--color-4);
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aside_nav_cont{
    margin: 30px 0px;
}
.aside_nav_item{
    padding: 10px 30px 10px 0px;
    margin: 10px 0px;
    transition: all .3s;
    display: block;
    color: var(--color-4);
    background-color: transparent;
    font-size: 25px;
    border-radius: 6px;
}
.aside_nav_item:hover{
    background-color: #f9931741;
    border-radius: 6px;
    transition: all .3s;
}
.aside_nav_item_active{
    padding: 10px 30px 10px 0px;
    margin: 10px 0px;
    transition: all .3s;
    display: block;
    color: #F5F5F5;
    background-color: #f99317cc;
    font-size: 25px;
    border-radius: 6px;
}
.aside_nav_a{
    display: block;
    color: var(--color-4);
    text-decoration: none;
    font-size: 25px;
}
.profile_img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 12px auto;
}
/* Content */
.ham_logo{
    font-size: 30px;
    display: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
/* Users */
.search_sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.search_inp{
    width: 350px;
    font-size: 18px;
    padding: 3px 5px;
    border: 1px solid var(--color-2);
    border-radius: 4px;
    background-color: var(--color-4);
}
.search_inp:focus{
    outline: 3px solid var(--color-8);
}
.add_btn{
    background-color: var(--color-1);
    color: var(--color-4);
    padding: 5px 25px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}
.user_table{
    width: 100%;
    margin: 0px auto;
}
.user_table thead{
    background-color: var(--color-2);
    color: var(--color-4);
}
.user_table thead th{
    padding: 8px 14px;
}
.user_table tbody tr{
    background-color: #f5f5f57c;
    transition: all .3s;
}
.user_table tbody tr:hover{
    background-color: #d3d3d37c;
}
.user_table tbody td{
    padding: 4px 12px;
}
.user_table .danger{
    color: #b91c1c;
    font-size: 20px;
    margin: 0px 5px;
    padding: 5px;
    cursor: pointer;
}
.user_table .warning{
    color: #a16207;
    font-size: 20px;
    margin: 0px 8px;
    padding: 5px;
    cursor: pointer;
}
.user_table .success{
    color: #15803d;
    font-size: 20px;
    margin: 0px 8px;
    padding: 5px;
    cursor: pointer;
}
.user_table .info{
    color: #1d4ed8;
    font-size: 20px;
    margin: 0px 8px;
    padding: 5px;
    cursor: pointer;
}
.loading_err{
    font-size: 20px;
    padding: 8px;
    border-radius: 4px;
    display: block;
    color: var(--color-11);
    background-color: var(--color-12);
}
/* AddUser */
.add_user_cont{
    width: 50%;
    background-color: var(--color-4);
    margin: 100px auto;
    padding: 15px;
    border-radius: 8px;
}
.add_user_cont .add_user_form_sec{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
    margin: 0px auto 15px auto;
}
.add_user_cont .add_user_form_sec input,
.add_user_cont .add_user_form_sec textarea,
.add_user_cont .add_user_form_sec select{
    width: 100%;
    border: 1px solid var(--color-5);
    border-radius: 4px;
    font-size: 22px;
    padding: 5px;
    color: #404040;
    resize: none;
}
.add_user_cont .add_user_form_sec input::placeholder,
.add_user_cont .add_user_form_sec textarea::placeholder,
.add_user_cont .add_user_form_sec select::placeholder{
    color: var(--color-9);
    font-size: 18px;
}
.add_user_cont .add_user_form_sec input:focus,
.add_user_cont .add_user_form_sec textarea:focus,
.add_user_cont .add_user_form_sec select:focus{
    outline: 3px solid var(--color-8);
}
.add_user_cont .add_user_form_sec label{
    font-size: 20px;
    color: var(--color-6);
}
.add_user_cont .add_user_form_sec .add_user_form_row{
    width: 100%;
    margin: 0px auto 10px auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.add_user_form_btns{
    display: flex;
    flex-direction: column;
    gap: 14px; 
}
.add_user_form_btns .btn_1{
    padding: 10px 0px;
    border-radius: 4px;
    color: var(--color-3);
    border: 1px solid var(--color-3);
    font-size: 20px;
    transition: all .3s;
    cursor: pointer;
}
.add_user_form_btns .btn_2{
    padding: 10px 0px;
    border-radius: 4px;
    color: var(--color-10);
    border: 1px solid var(--color-10);
    font-size: 20px;
    transition: all .3s;
    cursor: pointer;
}
.add_user_form_btns .btn_1:hover{
    background-color: var(--color-3);
    padding: 10px 0px;
    border-radius: 4px;
    color: var(--color-4);
}
.add_user_form_btns .btn_2:hover{
    background-color: var(--color-10);
    padding: 10px 0px;
    border-radius: 4px;
    color: var(--color-4);
}
/* Showing Page */
.show_table{
    margin: 50px 0px;
    background-color: #f5f5f57c;
    transition: all .3s;
    border-radius: 8px;
    overflow: hidden;
}
.show_table .show_table_title{
    width: 20%;
    padding: 20px 10px;
    font-size: 24px;
    text-align: start;
}
.show_table .show_table_inf{
    width: 80%;
    padding: 20px 16px;
    font-size: 20px;
    text-align: center;
}
.show_table .show_table_body{
    width: 80%;
    padding: 20px 16px;
    font-size: 20px;
    text-align: end;
}
.show_table tr:hover{
    background-color: #d3d3d37c;
}
.my_btn{
    background-color: var(--color-3);
    color: var(--color-4);
    margin: 0px 30px;
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
/* Gallery */
.gallery_cont .gallery_item_cont{
    display: inline-block;
    margin: 10px;
    width: 30%;
    height: 460px;
    overflow: hidden;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
}
.gallery_cont .gallery_item_cont img{
    width: 100%;
    height: 100%;
}
/* Works */
.completed{
    background-color: #15803c25 !important;
}
.not_completed{
    background-color: #b91c1c25 !important;
}
/* Responsive */
@media (max-width : 1300px) {
    .aside_nav_li{
        padding: 8px 20px 8px 0px;
        margin: 10px 0px;
        transition: all .3s;
    }
    .aside_nav_a{
        color: var(--color-4);
        text-decoration: none;
        font-size: 20px;
    }   
}
@media (max-width : 1000px){
    .aside_sec{
        width: 25%;
        height: 100vh;
        background: linear-gradient(135deg, rgba(54,48,98,0.9472163865546218) 0%, rgba(77,76,125,0.7959558823529411) 100%), url("../img/aside-bg.jpg");
        background-position: center;
        background-size: cover;
    }
    .content_sec{
        width: 75%;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.753) 0%, rgba(255, 255, 255, 0.753) 100%) , url("../img/bg.jpg");
        background-position: center;
        background-repeat: repeat-y;
        /* background-size: cover; */
        height: 100;
    }
}
@media (max-width : 900px){
    .aside_sec{
        position: fixed;
        right: -100%;
        top: 0px;
        width: 350px;
        height: 100vh;
        background: linear-gradient(135deg, rgba(54,48,98,0.9472163865546218) 0%, rgba(77,76,125,0.7959558823529411) 100%), url("../img/aside-bg.jpg");
        background-position: center;
        background-size: cover;
        z-index: 999;
    }
    .content_sec{
        width: 100%;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.753) 0%, rgba(255, 255, 255, 0.753) 100%) , url("../img/bg.jpg");
        background-position: center;
        background-repeat: repeat-y;
        /* background-size: cover; */
        height: 100;
    }
    .ham_logo{
        font-size: 30px;
        display: block;
    }
}